*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
body
{
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.maindiv
{
    display:flex;
}
.divhalf
{
    flex-basis: 50%;
}
.divquarter
{
    flex-basis: 30%;
}

header .logo{
    font-weight:bolder;
    font-size: 25px;
    color:grey;
    text-decoration: none;

}
header{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  background-color: white;

}

header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    color:black;
    padding:20px;
    display:block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    transition: background-color 1.5s;
}


header .navbar ul li a:hover:not(.active) {
	background-color: grey;
}

header .navbar ul li a.active {
	background-color: grey;
}
header .navbar ul li a:visited {
	text-decoration: none;
}
p
{
    padding-top: 20px;
    font-size: 30px;
}
h1
{
    color:white;
    padding:40px;
    flex-basis: 100%;
    text-align: center;
}
h3
{
    padding-top: 10px;
    font-size:40px;
}
.aligncenter
{
    text-align: right;
}
.alignvideocenter
{
    flex-basis: 50%;
    text-align: center;
    padding:20px;
}
img
{
    padding:10px;
}
section
{
    color:white;
}
.section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7
{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;

}

.wrapper
{
    position:relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    left:0;
}
.section-wrapper
{
    width:inherit;
    height:inherit;
}
.section-1-wrapper
{
    background-size: cover;
}
.section-1-heading-wrapper{
    top:40%;
}
.section-1-heading
{
    color:white;
    font-size:5rem;
    font-weight:300;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    border-bottom: .2rem solid white;
    text-align:center;
    user-select: none;
}
.page-btn{
    position:fixed;
    z-index:100;
    top:50%;
    transform: translateY(-50%);
    background-color: transparent;
    border:none;
}
.page-btn img
{
    width:7rem;
    opacity: 0.4;
    cursor:pointer;
    transition: opacity 2s;
}
.page-btn img:hover
{
   opacity: 1;
}
.left-btn{
    left:4rem;
}
.right-btn{
    right:4rem;
}
.progress-wrapper{
    position:fixed;
    z-index:50;
    bottom:2rem;
    left:3rem;
}
.progress h2{
    font-size:2.5rem;
    font-weight:300;
    color:white;
}
.progress
{
    margin:1rem 0;
    text-align:center;

}
.circle{
    width:1rem;
    height:1rem;
    border: .1rem solid white;
    border-radius: 50%;
    margin:0 0.3rem;
}
.circle-wrapper
{
    display:flex;
}
#video1,#video2,#video3,#video4,#video5,#video6,#video7
{
    margin:0;
}
